<<<<<<< Updated upstream
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
   
  }
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  background: url(img/indexheaderphoto.jpg);
}
.header {
  background: url(img/indexheaderphoto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  color: #fbfbfb;

}

.team-header {
  background: url(img/detective_pikachu_returns_screenshot_13.jpg);
}

.header {
  background: url(images/indexheaderphoto.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  color: #fbfbfb;

}
.hours-header {
  background: url(img/detective_pikachu_returns_screenshot_13.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  color: #fbfbfb;
}
.navlink {
  color: #fbfbfb;
  text-shadow: 1px 1px 2px black;
}
.navlink:hover {
  color: #f7d346;
  font-size: larger;
  transition: 0.5s;
  text-shadow: 2px 2px 8px black;
}
>>>>>>> Stashed changes

<<<<<<< Updated upstream
=======
h1,
.indexheaderpg {
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

body {
  font-family: "Oswald", sans-serif;

  color: #3f3025;
}

li img {
  width: 50px;
  height: auto;
  vertical-align: center;
  z-index: 1;
}

li {
  display: inline-block;
  padding: 20px;
}

ul {
  text-align: center;
  padding-bottom: 20px;
  color: #3f3025;
}

hr {
  border-color: #3f3025;
}

#pikavideo {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.indextopbutton {
  background-color: #faf2d0;
  border: none;
  padding: 9px;
  border-radius: 20px;
  margin: 20px 30px;

  cursor: pointer;
  vertical-align: text-bottom;
  box-shadow: 0px 0px 5px #3f3025;
}

.indextopbut {
  color: #3f3025;
  padding: 8px;
  font-weight: bold;
}

.indextopbut:hover {
  color: #faf2d0;
  transition: 0.25s;
}

.indextopbutton:hover {
  background-color: #f7d346;
  padding: 13px;
  transition: 0.25s;
  margin-top: 30px;
}

.aboutpara {
  margin-top: 15px;
}

section {
  background-color: lightgoldenrodyellow;
}

#servicetable {
  border-collapse: collapse;
  background-color: #faf2d0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px #3f3025;
}

#servicetable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3f3025;
  color: white;
}

#servicetable td,
#servicetable th {
  border: 1px solid #ddd;
  padding: 8px 20px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #f7d346;
  padding-top: 30px;
  text-align: center;
}

h2,
p {
  margin: 20px;
}
>>>>>>> Stashed changes
body {
    background-color:lightgoldenrodyellow;
    font-family: 'Oswald', sans-serif;
    
}  

.wrapper {
    margin-top: 10%;
}

.wrapper h1 {
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.team {
    display: flex;
    text-align: center;
    width:auto;
    justify-content: center;
    flex-wrap: wrap;
}

.team .team-member {
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;
}

.team .team-member h3{
    color: black;
    font-size: 26px;
    margin-top: 50px;
}

.team .team-member p.role {
    color: #FFCC66;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.team .team-member .img_team img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
     position: absolute; 
     top: -50px;
     left: 50%;
     transform: translateX(-50%);
     background: #fff;
    
}

  .team .team-member .img_team img {
    width: 100px;
    height: 100px;
    padding: 5px;
    object-fit: cover;
}  

,card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.193);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  }

  .container {
    padding: 2px 16px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }